<ng-container *ngIf="spinnerService.isSpinning$ | async; else table">
  <app-spinner></app-spinner>
</ng-container>
<ng-template #table>
  <section class="table-container">
    <table mat-table [dataSource]="audioRecords" class="audio__table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let record">{{ record.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let record">{{ record.name }}</td>
      </ng-container>

      <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef>Filename</th>
        <td mat-cell *matCellDef="let record">{{ record.fileName }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ 'audio__table--row_selected': row.id === (audioPlayerService.selectedRowId$ | async),
                       'audio__table--row_invalid': !row.validMp3
                     }"
          (click)="playAudio(row)"
      ></tr>
    </table>
  </section>
</ng-template>
